@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
}

body {
    background: #1A2238;
}

header {
    margin: 40px auto 0; 
    /* border: solid 1px red; */
    width: 80%;
}

.logo{
    width: 150px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.main-text h2 {
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
}

.main-text p {
    padding-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
}

.orange{
    color:#FF6A3D;
}

.blue-purple{
    color:#9DAAF2;
}

.github-logo {
    position: fixed;
    bottom: 90px;
}

footer {
    position: fixed;
    bottom: 0;
    background: #F4DB7D;
    width: 100%;
    padding: 20px 0;
    color: #1A2238;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p{
    padding: 0 25px;
    font-size: 17px;
}

.footer a{
    text-decoration: none;
    color: #1A2238;
}



.orange-dots {
    height: 5px;
    width: 5px;
    background-color: #FF6A3D;
    border-radius: 50%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-section {
    display: flex;
    align-items: center;
}


.lists-main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}


.labels{
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 700;
}

.cmd, .note   {
    margin-bottom: 40px;
}

.cmd-area {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 350px;
    height: 38px;
    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid #cccccc;
    color: #1A2238
}

.cmd-main, .note-main{
    position: relative;
}

.cpbtn {
    position: absolute;
    top: 25%;
    left: 92%;
    width: 15px;
}

.cpbtn-2{
    position: absolute;
    top: 25%;
    left: 92%;
    width: 15px;
}

.note-area{
    background-color: #ffffff;
    width: 350px;
    height: 120px;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #cccccc;
    color: #1A2238
}

