@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
}


/* Header */
header {
    margin: 40px auto 0;
    width: 80%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

.toggle-section {
    display: flex;
    align-items: center;
}


/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background: #F4DB7D;
    width: 100%;
    padding: 20px 0;
    color: #1A2238;
}

.footer p {
    padding: 0 25px;
    font-size: 17px;
}

.footer-link {
    text-decoration: none;
    color: #1A2238;
}

.light-footer {
    background: #1A2238;
    color: #FFFFFF;
}

.orange-dots {
    height: 5px;
    width: 5px;
    background-color: #FF6A3D;
    border-radius: 50%;
}


/* Lists */
.lists-main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.labels {
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 700;
}

.labels-light {
    color: #1A2238;
}

.select-list {
    margin-right: 50px;
}

.cmd-cmd {
    padding-bottom: 120px;
}

.cmd,
.note,
.des {
    margin-bottom: 40px;
}

.cmd-area {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    width: 350px;
    height: 50px;
    border-radius: 4px;
    padding-left: 20px;
    border: 1px solid #cccccc;
    color: #1A2238;
    font-style: italic;
}

.cmd-main {
    position: relative;
}

.cpbtn {
    padding: 8px;
    position: absolute;
    top: 10%;
    left: 88%;
    cursor: pointer;
}

.cpbtn-popup {
    position: absolute;
    top: -40px;
    left: 280px;
    background-color: #9DAAF2;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.slide-top {
    -webkit-animation: slide-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

.note-area,
.des-area {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 350px;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #cccccc;
    color: #1A2238;
    font-style: italic;
}


/* App */
.main {
    background: #1A2238;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    transition: 0.1s;
    overflow: auto;
}

.light-main {
    background: #f5f5f5;
    transition: 0.1s;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.heading {
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
}

.heading-para {
    padding-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
}

.light-heading,
.light-heading-para {
    color: #1A2238;
}

.orange {
    color: #FF6A3D;
}

.purple {
    color: #9DAAF2;
}

.github-logo {
    position: fixed;
    bottom: 90px;
    right: 10%;
}


/* Media Query */
@media only screen and (max-width: 768px) {

    .main{
        height: 130vh;
    }

    .main-text {
        width: 80%;
        padding-top: 60px;
    }

    .heading {
        text-align: center;
    }

    .select-list {
        margin-right: 0;
    }

    .lists-main {
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .cpbtn-popup {
        left: 226px;
    }

    .cmd-area {
        width: 300px;
    }

    .note-area, .des-area {
        width: 300px;
    }

    .cmd-cmd {
        margin-top: 40px;
    }
}